@extends('frontend.layouts.app')

{{-- Site title  --}}
@section('title', '')

{{-- Meta Description --}}
@section('meta_description', '')

{{-- Meta Keywords  --}}
@section('meta_keywords', '')

{{-- Meta facebook url  --}}
@section('fb_url', 'https://www.successmindinstitute.com/')

{{-- Meta facebook title --}}
@section('fb_title', '')

{{-- Meta facebook Description --}}
@section('fb_description', '')

{{-- Meta Twitter url  --}}
@section('twitter_url', 'https://www.successmindinstitute.com/')

{{-- Meta Twitter title  --}}
@section('twitter_title', '')

{{-- Meta Twitter description  --}}
@section('twitter_desciption', '')

{{-- Footer border --}}
{{-- @section('footer_border', ' border-top-0') --}}

{{-- Menu Active --}}
@section('YieldName', 'active')

{{-- Stye  --}}
@push('css')
<style>
    
</style>
@endpush

{{-- Main Content --}}
@section('content')

@endsection

@push('js')
<script>
    $(document).ready(function(){

    });
</script>
@endpush
