// SCSS Variable's

$font-primary: 'Karla', sans-serif;
$font-secondary: 'Playfair Display', serif;
$font-tertiary: 'Montserrat', sans-serif;

$color-primary:#08a259;
$color-primary--light:#28eca5;
$color-secondary:#f5cf00;
$color-secondary--light:#ffdb59;
$color-secondary--lighten:#f4e830;
$color-danger:#EA5455;
$color-warning:#ff8108;
$color-black:#000000;
$color-ash:#2e2e2e;
$color-white:#ffffff;
$color-white--off:#f1f1f1;
$color-light-grayish-orange:#f9f6ea;
$color-cream:#efebe4;
$color-green--dark:#373d32;

$color-mail: #ea4335;
$color-youtube: #ff0000;
$color-phone: #7367f0;
$color-whatsapp: #00e676;
$color-facebook: #1877f2;