/* Testimonial Section Style */
.testimonial{
	--columns: 1;
	--gap: 2rem;
	@include min-desktop{
		--columns: 2;
	}
	background-color: $color-light-grayish-orange;
	&-wrapper{
		display: block;
		columns: var(--columns);
		gap: var(--gap);
		@include min-desktop{
			padding: 2rem;
		}
		max-width: 140rem;
		margin: 0 auto;
		> * {
			break-inside: avoid;
			margin-bottom: var(--gap);
		}
	}
	&__block{
		$shadow-size: 0.3em;
		padding: 15px;
		border: 2px solid $color-black;
		@include min-tablet{
			border-width: 4px;
		}
		background-color: $color-white;
		&:nth-child(odd){
			box-shadow:
				($shadow-size * -1) $shadow-size 0 $color-primary,
				($shadow-size * -1) $shadow-size 0 2px $color-black;
			.testimonial__block__header__avatar::before{
				background-color: $color-secondary;
			}
		}
		&:nth-child(even){
			box-shadow:
				($shadow-size * -1) $shadow-size 0 $color-secondary,
				($shadow-size * -1) $shadow-size 0 2px $color-black;
				.testimonial__block__header__avatar::before{
					background-color: $color-primary;
				}
		}
		&__header{
			@include min-mobile{
				display: flex;
			}
			&__avatar{
				position: relative;
				width: toRem(50);
				height: toRem(50);
				border: 2px solid $color-black;
				border-radius: 50%;
				&__image{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					font-size: 10px;
					border-radius: inherit;
					overflow: hidden;
				}
				&::before{
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transform: translate(-10%, 10%) scale(1.1);
					width: 100%;
					height: 100%;
					border-radius: inherit;
					z-index: -1;
				}
			}
			&__details{
				@include mobile{
					margin-top: toRem(20);
				}
				@include min-mobile{
					margin-left: toRem(20);
				}
			}
			&__title{
				font-size: toRem(16);
				font-weight: 600;
			}
			&__meta{
				display: inline-flex;
				align-items: center;
				padding: 4px 10px;
				border: 2px solid $color-black;
				text-transform: capitalize;
				font-size: toRem(11);
				font-weight: 700;
				color: $color-white !important;
				&--youtube{
					background-color: $color-youtube;
				}
				&--facebook{
					background-color: $color-facebook
				}
				&__icon{
					display: inline-block;
					margin-left: 5px;
					line-height: 0;
					> {
						line-height: 0;

					}
				}
			}
		}
		&__body{
			@include min-mobile{
				padding-left: toRem(70);
			}
			padding-top: toRem(15);
			font-size: toRem(14);
			.rating-list{
				margin-bottom: 15px;
				&__item{
					&__icon{
						font-size: toRem(20);
					}
				}
			}
		}
	}
}
